*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.shadow{
    box-shadow: inset 0px 0px 100px black;
    /* background-image: conic-gradient(yellow,yellow); */
}
body{
    background-color: rgb(28, 28, 28);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    position: relative;
    transform: rotate(180deg) translateY(22%);
}